.add-todo-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows elements to drop down if there is no space */
  box-sizing: border-box;
}

.add-todo-form input {
  min-width: 0; /* Prevents overflow */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
  font-size: 1rem;
  box-sizing: border-box;
}

.add-todo-form input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.add-todo-form button {
  width: 100px;
  padding: 15px 25px;
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-todo-form button:hover {
  background-color: #45a049;
  transform: scale(1.03);
}

/* Tablets */
@media (max-width: 768px) {
  .add-todo-form {
    flex-direction: column;
    gap: 20px;
  }

  .add-todo-form input,
  .add-todo-form button {
    width: 100%;
  }
}

/* Small mobiles */
@media (max-width: 480px) {
  .add-todo-form input,
  .add-todo-form button {
    padding: 12px;
    font-size: 0.95rem;
  }

}
